Bluemix/nodered/transmissionTest.json
[{"id":"79b43db.77a58c4","type":"mqtt in","z":"7d931a0f.715384","name":"","topic":"outTopicKMonto","qos":"0","broker":"4fb262ab.dd2c84","x":220,"y":180,"wires":[["7e1d9a55.41c76c"]]},{"id":"7e1d9a55.41c76c","type":"debug","z":"7d931a0f.715384","name":"","active":true,"console":"false","complete":"payload","x":706,"y":92,"wires":[]},{"id":"1484c790.9cb07","type":"comment","z":"7d931a0f.715384","name":"MQTT Receive Data","info":"This work flow receives data from the MSP432 with wifi attachment\n* Receives the data as a csv string\n* Goes into a convert reading function that\n    * parses the values that are comma separated\n    * converts to integers\n    * determines the rough current capacity of the milk jug (half gallon)\n    * creates JSON object and attaches to payload\n* Then payload is passed to another function that:\n    * Takes the readings and attaches a timestamp to them\n    * creates a new payload and returns that msg\n* finally the data is stored in a cloudant DB","x":111.5,"y":125,"wires":[]},{"id":"4fb262ab.dd2c84","type":"mqtt-broker","z":"","broker":"198.41.30.241","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]